html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}
.show-print {
  display: none !important;
}

@media print {
  .hide-print {
    display: none !important;
  }

  .show-print {
    display: block !important;
  }

  .card {
    break-inside: avoid;
  }

  .profile-header {
    flex-direction: row !important;
  }
  .profile-details {
    margin-left: 8px !important;
    display: block !important;
    text-align: left !important;
  }
}
